<div class="flex w-full max-w-4xl flex-col items-center justify-center gap-8">
  <div
    class="flex w-full flex-col items-start gap-2 border-b-2 border-zinc-700 py-4"
  >
    <h1
      class="from-cadillac to-bashful dark:from-cotton-candy dark:to-cadillac bg-gradient-to-r bg-clip-text text-3xl font-bold text-transparent"
    >
      2024 Day 1: Historian Hysteria
    </h1>

    <p class="w-full">
      Solve the puzzle of the event Advent of Code year 2024, day 1. Both parts.
    </p>
  </div>

  <div class="flex w-full flex-col gap-8">
    <label class="flex w-full flex-col gap-4 font-semibold">
      <span class="min-w-fit">The puzzle input</span>
      <textarea
        id="input-puzzle"
        rows="5"
        class="font-space-mono border-bashful dark:border-lavender w-full resize-none rounded-md border-2 px-4 py-2 font-normal duration-200 outline-none placeholder:opacity-50"
        placeholder="Your puzzle input"
      ></textarea>
    </label>

    <button
      id="solve"
      class="dark:border-cotton-candy text-pearl dark:bg-cotton-candy dark:hover:text-cotton-candy border-bashful bg-bashful hover:text-bashful w-full cursor-pointer self-end rounded-md border-2 px-4 py-2 font-semibold duration-200 hover:bg-transparent disabled:cursor-progress dark:text-black"
    >
      SOLVE
    </button>
  </div>

  <hr class="w-full rounded-2xl border-[1px] border-zinc-700" />

  <div class="flex w-full flex-col gap-8">
    <span class="font-semibold">The puzzle output</span>

    <div class="flex w-full flex-col gap-4">
      <div class="flex flex-col gap-2 lg:flex-row lg:items-center lg:gap-4">
        <span class="w-24">Part 1</span>
        <input
          type="text"
          id="output-part-1"
          readonly
          class="font-space-mono border-bashful dark:border-lavender h-12 w-full resize-none rounded-md border-2 px-4 py-2 font-normal duration-200 outline-none placeholder:opacity-50"
        />
      </div>
      <div class="flex flex-col gap-2 lg:flex-row lg:items-center lg:gap-4">
        <span class="w-24">Part 2</span>
        <input
          type="text"
          id="output-part-2"
          readonly
          class="font-space-mono border-bashful dark:border-lavender h-12 w-full resize-none rounded-md border-2 px-4 py-2 font-normal duration-200 outline-none placeholder:opacity-50"
        />
      </div>
    </div>
  </div>
</div>

<script defer>
  function solvePartOne(left, right) {
    left = left.toSorted();
    right = right.toSorted();

    let sum = 0;
    for (let i = 0; i < left.length; i++) {
      sum += Math.abs(left[i] - right[i]);
    }

    $("#output-part-1").val(sum);
  }

  function solvePartTwo(left, right) {
    const memo = {};
    let sum = 0;
    for (const num of left) {
      if (memo[num]) {
        sum += num * memo[num];
        continue;
      }

      let count = 0;
      for (const occ of right) {
        if (occ == num) count++;
      }

      memo[num] = count;
      sum += num * count;
    }

    $("#output-part-2").val(sum);
  }

  $("#solve").click(() => {
    try {
      const input = $("#input-puzzle")
        .val()
        .split("\n")
        .map((str) => str.split(/\s+/).map(Number));

      const left = input.map((arr) => arr[0]);
      const right = input.map((arr) => arr[1]);

      solvePartOne(left, right);
      solvePartTwo(left, right);
    } catch (e) {
      console.log(e);
      alert("Invalid input?");
    }
  });
</script>
