<div class="flex flex-col items-center gap-8">
  <img
    src="/static/images/internet-404-page-not-found.png"
    alt="Page was not found illustration image"
    class="size-60"
  />

  <div class="flex flex-col gap-1 text-center">
    <h1 class="text-3xl font-bold">Uh oh!</h1>
    <p class="text-balance">That tool could not be found</p>
  </div>

  <a
    href="/"
    class="bg-cotton-candy border-cotton-candy hover:text-cotton-candy w-fit rounded-xl border-2 px-4 py-2 text-black duration-200 hover:bg-transparent"
    >Home</a
  >
</div>
