<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.4.2/chroma.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<div class="font-poppins flex flex-col gap-2 p-4">
  <h1 class="font-poppins mt-2 text-center text-3xl font-bold">
    Color Converter
  </h1>
  <p class="text-center text-balance">
    Convert a picked color between many notation forms of RGB, HSL and Hex codes
    for CSS.
  </p>

  <div class="mb-4 flex items-center gap-4">
    <input
      type="color"
      id="colorPicker"
      class="h-12 w-12 cursor-pointer rounded-md"
      title="Pick a color"
    />
    <input
      type="text"
      id="colorInput"
      placeholder="e.g. #ff0000, red, rgb(0,0,0)"
      class="flex-1 rounded-md border p-3 focus:ring-2 focus:ring-blue-400 focus:outline-none"
    />
  </div>

  <div id="results" class="space-y-4 text-sm">
    <div class="flex flex-row items-center gap-1 p-2">
      <p class="w-16 font-semibold">HEX:</p>
      <output id="hexOutput" class="flex-1 font-semibold">
        <div
          class="dark:border-pearl flex items-center justify-between rounded border-2 border-zinc-400 px-3 py-2"
        >
          <span id="hexResult">#ffffff</span>
          <div class="flex items-center gap-1">
            <button
              onclick="copyToClipboard('hex')"
              class="text-blue-400 hover:text-blue-600"
            >
              <i class="fa-regular fa-copy"></i>
            </button>
            <div
              id="hexCopiedText"
              class="hidden text-xs font-semibold text-green-500"
            >
              Copied!
            </div>
          </div>
        </div>
      </output>
    </div>

    <div class="flex flex-row items-center gap-2 p-2">
      <p class="w-16 font-semibold">RGB:</p>
      <output id="rgbOutput" class="flex-1 font-semibold">
        <div
          class="dark:border-pearl flex items-center justify-between rounded border-2 border-zinc-400 px-3 py-2"
        >
          <span id="rgbResult">255,255,255</span>
          <div class="flex items-center gap-1">
            <button
              onclick="copyToClipboard('rgb')"
              class="text-blue-400 hover:text-blue-600"
            >
              <i class="fa-regular fa-copy"></i>
            </button>
            <div
              id="rgbCopiedText"
              class="hidden text-xs font-semibold text-green-500"
            >
              Copied!
            </div>
          </div>
        </div>
      </output>
    </div>

    <div class="flex flex-row items-center gap-2 p-2">
      <p class="w-16 font-semibold">HSL:</p>
      <output id="hslOutput" class="flex-1 font-semibold">
        <div
          class="dark:border-pearl flex items-center justify-between rounded border-2 border-zinc-400 px-3 py-2"
        >
          <span id="hslResult">0.00,0.00,1.00</span>
          <div class="flex items-center gap-1">
            <button
              onclick="copyToClipboard('hsl')"
              class="text-blue-400 hover:text-blue-600"
            >
              <i class="fa-regular fa-copy"></i>
            </button>
            <div
              id="hslCopiedText"
              class="hidden text-xs font-semibold text-green-500"
            >
              Copied!
            </div>
          </div>
        </div>
      </output>
    </div>

    <div class="flex flex-row items-center gap-2 p-2">
      <p class="w-16 font-semibold">LAB:</p>
      <output id="labOutput" class="flex-1 font-semibold">
        <div
          class="dark:border-pearl flex items-center justify-between rounded border-2 border-zinc-400 px-3 py-2"
        >
          <span id="labResult">100.00,0.00,0.00</span>
          <div class="flex items-center gap-1">
            <button
              onclick="copyToClipboard('lab')"
              class="text-blue-400 hover:text-blue-600"
            >
              <i class="fa-regular fa-copy"></i>
            </button>
            <div
              id="labCopiedText"
              class="hidden text-xs font-semibold text-green-500"
            >
              Copied!
            </div>
          </div>
        </div>
      </output>
    </div>

    <div class="flex flex-row items-center gap-2 p-2">
      <p class="w-16 font-semibold">LCH:</p>
      <output id="lchOutput" class="flex-1 font-semibold">
        <div
          class="dark:border-pearl flex items-center justify-between rounded border-2 border-zinc-400 px-3 py-2"
        >
          <span id="lchResult">100.00,0.00,0.00</span>
          <div class="flex items-center gap-1">
            <button
              onclick="copyToClipboard('lch')"
              class="text-blue-400 hover:text-blue-600"
            >
              <i class="fa-regular fa-copy"></i>
            </button>
            <div
              id="lchCopiedText"
              class="hidden text-xs font-semibold text-green-500"
            >
              Copied!
            </div>
          </div>
        </div>
      </output>
    </div>
  </div>
</div>

<script>
  const formats = ["hex", "rgb", "hsl", "lab", "lch"];

  function updateColor(value) {
    try {
      const color = chroma(value);
      $("#preview").css("background-color", color.hex());
      $("#colorInput").val(color.hex());
      $("#colorPicker").val(color.hex());

      $("#hexResult").text(color.hex());
      $("#rgbResult").text(color.rgb().join(","));
      const hsl = color.hsl();
      $("#hslResult").html(
        `<span style="margin-right: 2px">${hsl[0].toFixed(2)}</span> <span style="margin-right: 4px">${hsl[1].toFixed(2)}</span> <span>${hsl[2].toFixed(2)}</span>`,
      );
      const lab = color.lab();
      $("#labResult").html(
        `<span style="margin-right: 2px">${lab[0].toFixed(2)}</span> <span style="margin-right: 4px">${lab[1].toFixed(2)}</span> <span>${lab[2].toFixed(2)}</span>`,
      );
      const lch = color.lch();
      $("#lchResult").html(
        `<span style="margin-right: 2px">${lch[0].toFixed(2)}</span> <span style="margin-right: 4px">${lch[1].toFixed(2)}</span> <span>${lch[2].toFixed(2)}</span>`,
      );
      formats.forEach((fmt) => {
        $(`#${fmt}CopiedText`).addClass("hidden");
      });
    } catch {
      formats.forEach((fmt) => {
        $(`#${fmt}Result`).text("Invalid");
        $(`#${fmt}CopiedText`).addClass("hidden");
      });
      $("#preview").css("background-color", "#f3f4f6");
    }
  }

  function copyToClipboard(format) {
    const textElement = $(`#${format}Result`);
    if (textElement.length) {
      const text = textElement.text().trim();
      navigator.clipboard.writeText(text).then(() => {
        $(`#${format}CopiedText`).removeClass("hidden");
        setTimeout(() => {
          $(`#${format}CopiedText`).addClass("hidden");
        }, 3500);
      });
    }
  }

  $(document).ready(function () {
    $("#colorInput").on("input", function () {
      updateColor($(this).val());
    });

    $("#colorPicker").on("input", function () {
      updateColor($(this).val());
    });
    updateColor($("#colorPicker").val());
  });
</script>
