<div class="flex w-full max-w-4xl flex-col items-center justify-center gap-8">
  <div
    class="flex w-full flex-col items-start gap-2 border-b-2 border-zinc-700 py-4"
  >
    <h1
      class="from-cotton-candy to-cadillac bg-gradient-to-r bg-clip-text text-3xl font-bold text-transparent"
    >
      Dad Jokes
    </h1>

    <p class="w-full">Ruin or make your day with a random dad joke.</p>
  </div>

  <div class="flex w-full flex-col gap-8">
    <label class="flex w-full flex-col gap-4 font-semibold">
      <span class="min-w-fit">The joke</span>
      <textarea
        id="output-joke"
        readonly
        rows="3"
        class="focus:ring-cotton-candy hover:ring-cotton-candy/50 w-full cursor-not-allowed resize-none rounded-md bg-zinc-700 px-4 py-2 font-normal ring-2 ring-transparent duration-200 outline-none placeholder:opacity-50"
        placeholder="Wait for the joke"
      ></textarea>
    </label>

    <button
      id="generate"
      class="border-cotton-candy bg-cotton-candy enabled:hover:text-cotton-candy disabled:border-cotton-candy/50 disabled:bg-cotton-candy/50 w-full cursor-pointer self-end rounded-md border-2 px-4 py-2 font-semibold text-black duration-200 enabled:hover:bg-transparent disabled:cursor-progress"
    >
      Generate a joke
    </button>
  </div>
</div>

<script defer>
  $("#generate").click(() => {
    $("#generate").attr("disabled", true);
    fetch("https://icanhazdadjoke.com", {
      headers: {
        Accept: "application/json",
        "User-Agent": "IT Tools (https://it-tools.frilly.dev/)",
      },
    })
      .then((res) => res.json())
      .then((json) => {
        $("#generate").attr("disabled", false);
        $("#output-joke").val(json.joke);
      });
  });
</script>
