<div class="flex w-full max-w-4xl flex-col items-center justify-center">
  <h1 class="from-cadillac to-bashful dark:from-cotton-candy dark:to-cadillac">
    Flexbox
  </h1>

  <div class="flex w-full flex-col gap-4">
    <label class="flex w-full flex-col gap-2">
      <span class="font-semibold">Flex Direction</span>

      <select id="select-direction" class="w-full">
        <option value="vertical" selected>Vertical</option>
        <option value="horizontal">Horizontal</option>
      </select>
    </label>

    <label class="flex w-full flex-col gap-2">
      <span class="font-semibold">Align Items</span>

      <select id="select-align" class="w-full">
        <option value="flex-start" selected>Flex Start</option>
        <option value="flex-end">Flex End</option>
        <option value="space-between">Space Between</option>
        <option value="space-around">Space Around</option>
        <option value="stretch">Stretch</option>
      </select>
    </label>

    <label class="flex w-full flex-col gap-2">
      <span class="font-semibold">Justify Content</span>

      <select id="select-justify" class="w-full">
        <option value="flex-start" selected>Flex Start</option>
        <option value="flex-end">Flex End</option>
        <option value="space-between">Space Between</option>
        <option value="space-around">Space Around</option>
        <option value="stretch">Stretch</option>
      </select>
    </label>
  </div>

  <div
    class="dark:border-pearl my-4 flex h-96 w-full gap-2 rounded-lg border border-zinc-700 p-2"
    id="flex-container"
  >
    <div
      class="bg-cadillac dark:bg-cotton-candy min-h-16 min-w-16 rounded-lg"
    ></div>
    <div
      class="bg-cadillac dark:bg-cotton-candy min-h-16 min-w-16 rounded-lg"
    ></div>
    <div
      class="bg-cadillac dark:bg-cotton-candy min-h-16 min-w-16 rounded-lg"
    ></div>
    <div
      class="bg-cadillac dark:bg-cotton-candy min-h-16 min-w-16 rounded-lg"
    ></div>
    <div
      class="bg-cadillac dark:bg-cotton-candy min-h-16 min-w-16 rounded-lg"
    ></div>
  </div>
</div>

<script>
  function updateFlexbox() {
    const state = Flip.getState("#flex-container", {
      props: "flexDirection,alignItems,justifyContent",
    });
    $("#flex-container")
      .css("flex-direction", $("#select-direction").val())
      .css("align-items", $("#select-align").val())
      .css("justify-content", $("#select-justify").val());
    Flip.from(state, {
      duration: 0.5,
    });
  }

  $("#select-direction").change(updateFlexbox);
  $("#select-align").change(updateFlexbox);
  $("#select-justify").change(updateFlexbox);
</script>
