<div class="flex flex-col gap-3 rounded-lg bg-zinc-800 p-8">
  <p>
    A set of tools, maybe useful, maybe useless for fellow developers, developed
    using the Model-View-Controller setup for the course of
    <span class="font-bold text-violet-300">Software Design</span>.
  </p>

  <p>
    Created by rebels of the system, rising up against the C# cult led by the
    theory teacher. The main point of this system is to be able to
    <span class="font-bold text-violet-300">make changes to tools</span>
    (create new, remove, and edit tools) at runtime without the needs of
    recompiling or redeploying.
  </p>
</div>
