<form
  class="flex w-full max-w-2xl flex-col gap-6"
  method="post"
  enctype="application/x-www-form-urlencoded"
>
  <h1 class="text-3xl font-bold">Log In</h1>

  <div class="flex w-full flex-col gap-4">
    <label for="email" class="flex w-full flex-col gap-2">
      <span class="font-semibold">Email Address</span>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="nguyenphucan@example.com"
        class="dark:border-pearl min-h-12 rounded-lg border border-zinc-700 px-4 py-2 placeholder:opacity-50"
      />
    </label>

    <label for="password" class="flex w-full flex-col gap-2">
      <span class="font-semibold">Password</span>
      <input
        type="password"
        name="password"
        id="password"
        class="dark:border-pearl min-h-12 rounded-lg border border-zinc-700 px-4 py-2 placeholder:opacity-50"
      />
    </label>
  </div>

  <% if (content.errorMessage) { %>
  <p class="text-left font-semibold text-rose-600 dark:text-rose-300">
    <%= content.errorMessage %>
  </p>
  <% } %>

  <div class="flex w-full flex-col items-end gap-2">
    <a class="hover:underline" href="/register">Don't have an account?</a>
    <button
      type="submit"
      class="border-bashful bg-bashful hover:text-bashful dark:border-cotton-candy dark:bg-cotton-candy dark:hover:text-cotton-candy text-pearl cursor-pointer self-end rounded-md border-2 px-4 py-2 font-semibold duration-200 hover:bg-transparent dark:text-black"
    >
      Login
    </button>
  </div>
</form>
