<script></script>

<div class="flex w-full max-w-1/2 flex-col gap-4 lg:py-4">
  <h1 class="text-2xl font-bold">Your Profile</h1>

  <div class="flex w-full flex-col gap-1 rounded-lg border p-6">
    <p>
      <span class="font-semibold">Username:</span> <%= content.session?.username
      %>
    </p>
    <p>
      <span class="font-semibold">Email:</span> <%= content.session?.email %>
    </p>
    <p><span class="font-semibold">Role:</span> <%= content.session?.role %></p>
    <p>
      <span class="font-semibold">Premium: </span>
      <% if (content.session?.role == "admin") { %>
      <span
        class="from-bashful to-cadillac dark:from-lavender dark:to-cotton-candy bg-gradient-to-r bg-clip-text font-bold text-transparent"
        >Infinite</span
      >
      <!-- prettier-ignore -->
      <% } else if(content.session?.premium && content.session.premium.getTime() < Date.now()) { %>
      <span class="text-rose-500 dark:text-rose-300">Expired</span>
      <% } else if(content.session?.premium) { %>
      <span class="text-sky-600 dark:text-sky-300"
        >Until <%= content.session.premium.toLocaleString() %></span
      >
      <% } else if(content.session?.requestingPremium) { %>
      <span class="dark:text-cotton-candy font-semibold italic"
        >Requesting...</span
      >
      <% } %>
    </p>

    <div class="flex w-fit flex-row gap-2 self-end">
      <% if (content.session?.role == "admin") { %>
      <a
        href="/admin"
        class="text-pearl mt-4 cursor-pointer self-end rounded-md border-2 border-fuchsia-600 bg-fuchsia-600 px-4 py-2 font-semibold duration-200 hover:bg-transparent hover:text-fuchsia-600 dark:border-fuchsia-300 dark:bg-fuchsia-300 dark:text-black dark:hover:text-fuchsia-300"
      >
        Admin Tools
      </a>
      <% } %> <% if (content.session?.role == "user" &&
      content.session?.requestingPremium == false) { %>
      <form
        action="/premium"
        method="post"
        enctype="application/x-www-form-urlencoded"
      >
        <button
          type="submit"
          id="request-premium"
          class="border-bashful bg-bashful hover:text-bashful dark:border-cotton-candy dark:bg-cotton-candy dark:hover:text-cotton-candy text-pearl mt-4 cursor-pointer self-end rounded-md border-2 px-4 py-2 font-semibold duration-200 hover:bg-transparent dark:text-black"
        >
          Request Premium
        </button>
      </form>
      <% } else if(content.session?.role == "user") { %>
      <button
        type="button"
        class="border-bashful bg-bashful hover:text-bashful dark:border-cotton-candy dark:bg-cotton-candy dark:hover:text-cotton-candy text-pearl mt-4 cursor-not-allowed cursor-pointer self-end rounded-md border-2 px-4 py-2 font-semibold opacity-50 duration-200 hover:bg-transparent dark:text-black"
      >
        Already requesting...
      </button>
      <% } %>
    </div>
  </div>
</div>
