<div class="flex w-full max-w-1/2 flex-col gap-4 lg:py-4">
  <h1 class="text-2xl font-bold">Your Profile</h1>

  <div class="flex w-full flex-col gap-2">
    <span class="font-semibold">Favorite Tools</span>
  </div>

  <form method="post" class="flex w-full flex-col gap-4">
    <label for="password" class="flex w-full flex-col gap-2">
      <span class="font-semibold"></span>
      <input
        type="password"
        name="password"
        id="password"
        class="dark:border-pearl min-h-12 rounded-lg border border-zinc-700 px-4 py-2 placeholder:opacity-50"
      />
    </label>
  </form>
</div>
