@import "tailwindcss";

@theme {
  --font-inter: Inter, sans-serif;
  --font-poppins: Poppins, sans-serif;

  --color-pearl: #f8f6f0;
  --color-lavender: #ffedfa;
  --color-cotton-candy: #ffb8e0;
  --color-cadillac: #ec7fa9;
  --color-bashful: #be5985;
}
